# .clang-format file

Language: Cpp
BasedOnStyle: Google  # You can change this to your preferred style

# Prevent line wrapping/splitting
ColumnLimit: 0
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

# Keep long lines as they are
BreakBeforeBinaryOperators: None
PenaltyBreakComment: 0
PenaltyBreakString: 0
PenaltyBreakFirstLessLess: 0
PenaltyReturnTypeOnItsOwnLine: 0
PenaltyBreakAssignment: 0
