name: Release

on:
  push:
    tags:
      - "*"

jobs:
  build-and-release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.6

      - name: "Install nix, which is needed for nix-develop action"
        uses: DeterminateSystems/determinate-nix-action@v3

      - name: "Enter Nix develop environment"
        uses: nicknovitski/nix-develop@v1

      - name: "Build with OpenSCAD"
        uses: coactions/setup-xvfb@v1
        with:
          run: "python3 ./build-all.py"

      - name: "Zip Release"
        uses: nicknovitski/nix-develop@v1
        with:
          run: "zip -r release.zip LICENSE README.md ./*/*.*"

      - name: Create Release
        uses: softprops/action-gh-release@v2.0.5
        with:
          files: release.zip
          generate_release_notes: true
